.container {
    display: flex;
}

.container1 {
    float: left;
}

.container a:hover {
    text-decoration: underline;
}



.cardi {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 50%;
    width: 43px;
}

.jumbotron .dog-img {
    border-radius: 0%;
    width: 30%;
    margin: 0 35%;
}