.container {
    display: flex;
}

.container1 {
    float: left;
}

.container a:hover {
    text-decoration: underline;
}

.nav .cardi {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 50%;
    width: 43px;
}


.jumbotron .dog {
    border-radius: 0%;
    width: 30%;
    margin: 3% 35%;
}

.jumbotron {
    padding-top: 10px;
}