:root {
    --primary--color: #C2C88E;
    --secondary-color: #717F65;
    --third-color: #609966;
    --fourth-color: #F0EFDB;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
}