* {
    font-family: "Quicksand";
}
.hydrationBody {
    background-color: var(--primary--color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 5vh;
    text-align: center;
    height: 570px;
}

#waterReminder{
    font-weight: 90px;
    padding: 0;
}


#texty {
    padding: 1.5rem;
    border-radius: 5%;
    background-color: var(--third-color);

    box-shadow: 5px 5px 5px grey;
    /* font-size: x-large; */
    text-shadow: 2px 4px 3px rgb(0,0,0,0.3);
    color: rgb(248, 248, 248);
    margin-top: 2vh;
    margin-bottom: 7vh;
}

.card {
    background-color: var(--third-color);
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px grey;
    width: 95%;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

#submitButton {
    
}

#reminder {
    padding: 1rem;
    margin-left: 1vh;
}

.card text-card {
    padding: 1rem;
    flex-grow: 1;
}
#cancelButton {
    display: none;
}

#countdown{
    padding: 3vh;
    font-size: x-large;
    border: 3px;
    border-style: solid;

}