.hydrationBody {
    background-color: var(--primary--color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 5vh;
    text-align: center;
}

.texty {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10vh;
    border: 4px;
}

.card {
    background-color: var(--third-color);
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px grey;
    width: 95%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.card text-card {
    padding: 1rem;
    flex-grow: 1;
}
#cancelButton {
    display: none;
}