.texty {
    text-align: center;
    margin-top: 20px;
}
.hydrationBody{
    padding-top: 80px;
}
.card {
    width: 80%;
    border: 1px lightgray solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#cancelButton {
    display: none;
}
body {
    color: #e4d5c8;
}
main {
    padding-top: 100px;
    padding-bottom: 200px;
}