* {
    text-align: center;
    font-family: 'Sen'
}
/* Navbar */

.brandN {
    font-size: 120%;
}
.d-inline-block {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.dogProfile {
    width: 200px;
    
}

.navbar {
    width: 100%;
}
.signup {
    line-height: 1;
}

.navbar-item {
    color: black;
    font-size: 0.7em;
    text-align: end;
}

.navbar-item:hover {
    color: gray;
    text-decoration: solid;
}

.brandName{
    font-size: x-large;
    font-weight: bold;
}

.dogImg{
    width: 1.3rem;
}

/* Main Part */

.container{
    margin: 0;
    width: 100%;
}


.mainDog{
    width: 100%;
    background-color: #cccccc;
    height: 740px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(https://www.adamspetcare.com/-/media/Project/OneWeb/Adams/Images/Photos/Blog/Article/how-do-dogs-get-heartworm.jpg)
}

.logo {
    color: white;
    font-size: 95px;
    margin-right: 38%;
    padding-top: 9%;
}

.slogan{
    color: white;
    font-size: 20px;
    margin-right: 38%;
}

.start_btn{
    margin-right: 39%;
}

.dogMain{
    width: 100%;
    height: 100%;
}


/* Main part 2 */



.introSecond {
    padding-top: 1%;
    font-size: x-large;
    margin-bottom: 0;
}


.info{
    width: 100px;
}


@media only screen and (max-width: 900px) {
    .logo {
        font-family: "Montserrat";
    }

  
    .mainDog{
        margin-bottom: 35px;        
        background-color: #cccccc;
        height: 360px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-image: url(https://www.adamspetcare.com/-/media/Project/OneWeb/Adams/Images/Photos/Blog/Article/how-do-dogs-get-heartworm.jpg)

    }

    .logo {
        font-size: 37px;
        padding-top: 80px;
        margin-bottom: 5px;
    }
    
    .start_btn {
        padding: 5px;
        font-size: x-small;
    }

    .slogan {
        font-family: 'Kalam';
        font-size: small;
        margin-bottom: px;
        
    }


    .dog_matter {
        font-size: 24px;
        font-family: 'Playball';
    }
    
    .aim {
        font-family: 'Dosis', sans-serif;
        font-size: 15px;
        margin-bottom: 2px;
    }

    .features{
        margin-top: 20px;
    }

    .introSecond{
        font-size: 0;
    }

    .info_card{
        font-size: 10px;
        padding: 0;
        margin-top: 20px;
    }

    h2{
        color: white;
    }

    .cardImg{
        margin: 0 auto;
        width: 110%;
    }

    .symptom {
        padding-top: 23px;
    }

    .symptom_img{
        padding-top: 20%;
        width: 87%;
    }

    .panting_img{
        padding-top: 20%;
        width: 77%;
    }

    .temperature{
        padding-top: 23px;
    }







}
