h1 {
    text-align: center;
}

.name {
    display: flex;
    flex: row;
}

.password {
    display: flex;
    flex: row;
    margin-bottom: 15px;
}

.mb-3 {
    margin: 15px
}

.button {
    display: flex;
    justify-content: center;
    margin: 10px;
}