
.backgroundDog{
    width: 100%;
    padding: 0%;
    background-image: url('https://westernfinancialgroup.ca/get/files/image/galleries/DoNotLeaveYourDogInAHotCar.jpg');
    background-attachment: fixed;
    background-size: 100% 59%;
}

#footerPlaceholder {
    margin: 0;
    padding: 0;
}



.tempImg {
    width: 200%;

}

.tempText {
    margin: 10% 5%;
}

.temp {
    padding: 3%;
    background-color: #F9F5E7;
    border-radius: 10%;
    margin: 6% 1%;
    width: 30%;
    /* background-image: url('/images/speech-balloon.png');
    background-attachment: fixed;
    background-size: 30% 59%; */
}

