* {
    text-align: center;
    font-family: 'Quicksand';
}

main {
    background-color: var(--primary--color);
    height: 1000px;
}

.main_start{
    padding-top: 20px;
}

#wicon {
    margin-left: 1%;
    width: 200px;
    height: 170px;
}

#alerMSG{
    font-size: 20px;
    margin-bottom: 1px;

}

.tempBox {
    /* background-color: var(--fourth-color); */
    color: black;
    border-radius: 30px;
    margin: 0 2%;
    padding: 3% 0 2% 0;
    text-align: center;
}

.showTemp{
    margin-bottom: 1px;
    font-size: 14px;
}

.temp_info {
    font-size: large;
    margin-bottom: 3px;
}

.advice{
    margin-top: 30px;
    margin-left: 8px;
    padding: 2px;
    width: 95%;
    background-color: var(--third-color);
    color: white;
    border-radius: 30px;
}

.advice_title{
    font-size: larger;
    padding-top: 4%;
    margin-bottom: 5px;
}

.whatTime{
    font-size: 14px;
}

.alert_23 {
    margin-bottom: 12px;
}

.period_walk {
    margin-bottom: 6px;
}

.best_list {
    margin-left: 10px;
}
