main {
  margin-top: 0px;
}
.dogProfile {
  width: 50px;
  height: 50px;
}

.row {
  display: flex;
  flex-direction: row;
}

.profile {
  width: 30%
}

.topNavigationBar {
  /* background-color: var(--primary--color); */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  height: 55px;
}

.brandN {
  width: 30%;
  height: 55px;
}

.dogImg {
  padding-top: 0;
  margin: 0 0 5px 0;
  width: 80px;
  height: 99%;
}

.user_profile {
  border-radius: 50px;
}

.user_profile_img {
  width: 30px;
  border-radius: 30px;
}

@media screen and (min-width: 550px) {
  .dogInfo {
    width: 400px;
  }

  .brandN {
    width: 20%;
  }

  .dogImg {
    width: 100px;
  }

  .user_profile_img {
    width: 40px;
  }
}
  