* {
    font-family: "Quicksand";
}

#symptomGuide {
    padding: 3vh;
    border-radius: 5%;
    background-color: var(--third-color);
    box-shadow: 5px 5px 5px grey;
    text-shadow: 2px 4px 3px rgb(0, 0, 0, 0.3);
    color: rgb(248, 248, 248);
}

#symptomResult {
    padding: 3vh;
    border-radius: 5%;
    background-color: var(--danger-color);
    box-shadow: 5px 5px 5px grey;
    font-size: medium;
    text-shadow: 2px 4px 3px rgb(0, 0, 0, 0.3);
    color: rgb(248, 248, 248);
    text-align: center;
}

.danger {
    margin-top: -7vh;
    margin-bottom: 2vh;
    padding: 3vh;
    border-radius: 5%;
    background-color: var(--danger-color);
    box-shadow: 5px 5px 5px grey;
    font-size: medium;
    text-shadow: 2px 4px 3px rgb(0, 0, 0, 0.3);
    color: rgb(248, 248, 248);
}

#illness {
    line-height: 2;
}

.symptomContainer {
    padding: 7vh 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--primary--color);

}

@media screen and (min-width: 550px) {
    .card {
        width: 370px;
    }

    .danger {
        width: 370px !important;
    }

    .recommendations {
        width: 370px !important;
    }

    .dangerContainer {
        display: flex !important;
        flex-direction: column !important;
    }
}

.symptomContainer h1 {
    padding-bottom: 1rem;
    margin-top: 0;
    font-weight: 700;
    text-align: center;
}

.symptomContainer p {
    font-weight: 400;
    padding: 0 3px;
    text-align: left;
}

.symptomResultContainer {
    padding: 4vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--primary--color);

}

.symptomLoggerContainer {
    padding: 2.5vh;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5vh;
    background-color: var(--primary--color);
}

.title {
    margin-right: 1rem;
}

.dangerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5vh;
    background-color: var(--fourth-color);
    height: 80vh;
}

.danger {
    width: 72%;
}

#danger {
    line-height: 1.6;
}

.remedy {
    margin-top: 1.2rem;
    width: 72%;
}

#remedy {
    padding-top: 1rem;
    line-height: 1.6;
}

.danger .card-title {
    text-align: center;
    padding-bottom: 1rem;
}

#symptomLogger {
    padding: 5vh;
    padding-bottom: 4vh;
    padding-right: 3px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px grey;
    font-size: medium;
}

.checklist {
    margin: 1rem 0;
}



.recommendations {
    width: 80%;
    margin-top: 5vh;
    padding: 3vh;
    padding-bottom: 2vh;
    border-radius: 5%;
    background-color: var(--third-color);
    box-shadow: 5px 5px 5px grey;
    font-size: medium;
    text-shadow: 2px 4px 3px rgb(0, 0, 0, 0.3);
    color: rgb(248, 248, 248);
}

#save {
    margin: 0 30%;
    border-radius: 20px;
    background-color: #609966;
    color: white;
}